extends layout

block content
  h1= title
  h2 Easy placeholder images with a sketchy feel
  div Add a size in pixels after our URL and you'll get a sketchy placeholder circle.
  div Like this...
  pre= base + '125'
  img(src='./125')
  div Put two dimensions, width then height, after our URL and you'll get a sketchy placeholder rectangle.
  div Like this...
  pre= base + '125/250'
  img(src='./125/250')  
